<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="BrainApiUrl" value="http://localhost:11434" />
    <add key="MonitorPort" value="8765" />
  </appSettings>
</configuration>
